# TODO: Add correct ignore files from https://www.toptal.com/developers/gitignore/api/windows,pycharm,django,venv

.idea/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class