<!DOCTYPE html>  <!--TODO: load from base.html-->
<html lang="en-GB">
    {% load static %}
    {% load avatar_tags %}
    {% load socialaccount %}
    {% load pulsifi_extras %}
    <head>  <!--TODO: favicons-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pulsifi</title>
        <link href="{% static 'pulsifi/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="{% static 'pulsifi/js/modal_controller.js' %}"></script>
    </head>

    <body>
        <nav class="navbar rounded-bottom navbar-light navbar-expand-lg pl-5 pr-5" style="background-color: #ba03fc;">   <!--TODO: load from navbar.html (only show links if logged in)-->
            <a class="navbar-brand align-middle" href="{% url 'default' %}"><img alt="Main Pulsifi Logo" height=30px src="{% static 'pulsifi/brand/Logo-White_Transparent.png' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link px-3 text text-white" href="{% url 'pulsifi:feed' %}">Feed</a>
                    <a class="nav-link px-3 text-white" href="{% url 'pulsifi:self_account' %}">Profile</a>
                    {% if request.user.is_staff %}<a class="nav-link px-3 text-white" href="{% url 'admin:index' %}">Admin</a>{% endif %}
                </div>
            </div>
            <div class="right">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn w3-purple" style="float: right;">Sign Out</button>
                </form>
            </div>
        </nav>

        <main>
            <div class="container py-5">
                <div class="card h-100">
                    <div class="card">
                        <div class="card-body p-2 justify-content-start">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    {% if request.user == specific_account %}
                                        <form enctype="multipart/form-data" method="POST" action="{% url "avatar_add" %}">
                                            {% avatar specific_account 100 class="img-fluid mr-2 mb-2" style="border-radius: 100px;" %}
                                            <input type="file" name="avatar" accept="image/*" required id="id_avatar">
                                            {% csrf_token %}
                                            <input class="d-block ml-3" type="submit" value="add pfp"/>
                                        </form>
                                    {% else %}
                                        {% avatar specific_account class="img-fluid" style="border-radius: 100px;" %}
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 justify-content-end rounded-3">
                                    <h5 class="mb-1">{{ specific_account }}</h5>
                                    <div class="p-4" style="background-color: #ffff;">
                                        {% if specific_account == request.user %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <label for="new-bio" class="d-none">New Bio</label>
                                                <input type="text" style="width: 100%;" required id="new-bio" name="new_bio" value="{{ specific_account.bio }}">
                                                <input type="submit" value="Update bio">
                                            </form>
                                        {% else %}
                                            <p class="small text-muted mb-1">{{ specific_account.bio|format_mentions }}</p>
                                        {% endif %}
                                    </div>

                                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                         style="background-color: #ffff;">
                                        <div class="px-3">
                                            {% if specific_account == request.user %}
                                                <a href="{% url 'pulsifi:followers' %}">
                                            {% endif %}
                                            <p class="small text-muted mb-1">Followers</p>
                                            <p class="mb-0">{{ specific_account.followers.count }}</p>
                                            {% if specific_account == request.user %}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="px-3">
                                            {% if specific_account == request.user %}
                                                <a href="{% url 'pulsifi:following' %}">
                                            {% endif %}
                                            <p class="small text-muted mb-1">Following</p>
                                            <p class="mb-0">{{ specific_account.following.count }}</p>
                                            {% if specific_account == request.user %}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if specific_account != request.user %}
                                        <div class="d-flex pt-1">
                                            <form method="post">
                                                {% csrf_token %}
                                                {% if request.user not in specific_account.followers.all %}
                                                    <input type="submit" class="btn btn-primary flex-grow-1 w3-purple" value="Follow">
                                                    <input type="hidden" name="action" value="follow">
                                                    <input type="hidden" name="follow_user_id" value="{{ specific_account.id }}">
                                                {% else %}
                                                    <input type="submit" class="btn btn-primary flex-grow-1 w3-purple" value="Unfollow">
                                                    <input type="hidden" name="action" value="unfollow">
                                                    <input type="hidden" name="unfollow_user_id" value="{{ specific_account.id }}">
                                                {% endif %}
                                            </form>
                                            <button type="button" class="btn btn-sm btn-info"
                                                    onclick="addModalData('report-create-modal', 'user', '{{ specific_account.id }}');openModal('report-create-modal')">Report User
                                            </button>
                                        </div>
                                    {% else %}
                                        <p>Email <a href="mailto:verification@pulsifi.tech">verification@pulsifi.tech</a> to request verification.</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div>
                                {% if request.user == specific_account %}
                                    <a href="{% url "avatar_delete" %}" class=" btn btn-info">Delete avatars</a>
                                    <form method="post" action="{% provider_login_url "discord" %}">
                                        {% csrf_token %}
                                        <input type="submit" value="Connect a Discord account">
                                    </form>
                                    <form method="post" action="{% provider_login_url "github" %}">
                                        {% csrf_token %}
                                        <input type="submit" value="Connect a GitHub account">
                                    </form>
                                    <form method="post" action="{% provider_login_url "google" %}">
                                        {% csrf_token %}
                                        <input type="submit" value="Connect a Google account">
                                    </form>
                                    <form method="post" action="{% provider_login_url "microsoft" %}">
                                        {% csrf_token %}
                                        <input type="submit" value="Connect a Microsoft account">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mx-auto">
                    <div class="row">
                        <div class="col-sm">
                            <h1 style="color:#ba03fc">{% if specific_account == request.user %}Your{% else %}{{ specific_account }}'s{% endif %} Pulses</h1>
                        </div>
                        <div class="col-sm-2 pt-3">
                            <button type="button" class="btn w3-purple" style="float: right;" id="pulse-create">New Pulse</button>
                        </div>
                    </div>
                    {% if not pulse_list %}
                        No Pulses
                    {% else %}
                        {% for pulse in pulse_list %}
                            {% with content=pulse %}
                                {% include content_iterate_snippet %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </main>

        <div class="modal fade" id="pulse-create-modal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Pulse</h5>
                        <button type="button" class="close" id="close-pulse-create-modal" aria-label="Close" onclick="closeModal('pulse-create-modal');">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form method="post"> {# Move to snippet html #}
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="new-post-content">What do you want to share today?</label>
                                <input type="text" required class="form-control" name="new_post_content" id="new-post-content" placeholder="What are you thinking...?">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn text-white" id="new-post-submit" style="background-color: #ba03fc;" value="Post to Pulsifi">
                        </div>
                        <input type="hidden" name="creator_id" value="{{ request.user.id }}">
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="reply-create-modal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Reply</h5>
                        <button type="button" class="close" id="close-reply-create-modal" aria-label="Close" onclick="closeModal('reply-create-modal');">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form method="post"> {# Move to snippet html #}
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="new-reply-content">Reply message...</label>
                                <input type="text" required class="form-control" name="new_reply_content" id="new-reply-content" placeholder="Reply message...">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn text-white" id="new-reply-submit" style="background-color: #ba03fc;" value="Reply to this Content">
                        </div>
                        <input type="hidden" name="creator_id" value="{{ request.user.id }}">
                        <input type="hidden" id="content_type_input" name="_content_type">
                        <input type="hidden" id="object_id_input" name="_object_id">
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="report-create-modal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Report</h5>
                        <button type="button" class="close" id="close-report-create-modal" aria-label="Close" onclick="closeModal('report-create-modal');">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <form method="post"> {# Move to snippet html #}
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="reason">Report reason...</label>
                                <input type="text" required class="form-control" name="reason" id="reason" placeholder="Report reason...">
                                <select name="category" class="m-2" required id="reason">
                                    <option value="" selected="">---------</option>
                                    <option value="SPM">Spam</option>
                                    <option value="SEX">Nudity or sexual activity</option>
                                    <option value="HAT">Hate speech or symbols</option>
                                    <option value="VIO">Violence or dangerous organisations</option>
                                    <option value="IGL">Sale of illegal or regulated goods</option>
                                    <option value="BUL">Bullying or harassment</option>
                                    <option value="INP">Intellectual property violation or impersonation</option>
                                    <option value="INJ">Suicide or self-injury</option>
                                    <option value="SCM">Scam or fraud</option>
                                    <option value="FLS">False or misleading information</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn text-white" id="new-report-submit" style="background-color: #ba03fc;" value="Submit Report">
                        </div>
                        <input type="hidden" name="reporter_id" value="{{ request.user.id }}">
                        <input type="hidden" id="content_type_input" name="_content_type">
                        <input type="hidden" id="object_id_input" name="_object_id">
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>


        <script>
            function startTimer(duration, display) {
                let start = Date.now(),
                    diff,
                    minutes,
                    seconds;

                function timer() {
                    // get the number of seconds that have elapsed since
                    // startTimer() was called
                    diff = duration - (((Date.now() - start) / 1000) | 0);

                    // does the same job as parseInt truncates the float
                    minutes = (diff / 60) | 0;
                    seconds = (diff % 60) | 0;

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.textContent = minutes + ":" + seconds;

                    if (diff <= 0) {
                        // add one second so that the count-down starts at the full duration
                        // example 05:00 not 04:59
                        start = Date.now() + 1000;
                    }
                }

                // we don't want to wait a full second before the timer starts
                timer();
                setInterval(timer, 1000);
            }

            window.onload = function () {
                let threeMinutes = 50 * 10,
                    display = document.querySelector('#time');
                startTimer(threeMinutes, display);
            };
        </script>

    </body>

    <!--suppress SpellCheckingInspection -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script>
        let pulse_create_button = document.getElementById("pulse-create");
        pulse_create_button.addEventListener("click", () => {
            openModal("pulse-create-modal")
        });
    </script>
