<!DOCTYPE html>  <!--TODO: load from base.html-->
<html lang="en-GB">
    {% load static %}
    {% load avatar_tags %}
    {% load socialaccount %}
    <head>  <!--TODO: favicons-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pulsifi</title>
        <link href="{% static 'pulsifi/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <main>
        <body>
            <nav class="navbar rounded-bottom navbar-light navbar-expand-lg pl-5 pr-5" style="background-color: #ba03fc;">   <!--TODO: load from navbar.html (only show links if logged in)-->
                <a class="navbar-brand align-middle" href="{% url 'default' %}"><img height=30px src="{% static 'pulsifi/brand/Logo-White_Transparent.png' %}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link px-3 text text-white" href="{% url 'pulsifi:feed' %}">Feed</a>
                        <a class="nav-link px-3 text-white" href="{% url 'pulsifi:self_account' %}">Profile</a>
                        {% if request.user.is_staff %}<a class="nav-link px-3 text-white" href="{% url 'admin:index' %}">Admin</a>{% endif %}
                    </div>
                </div>   <!--TODO: add avatar-->
                <div class="right">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn w3-purple" style="float: right;">Sign Out</button>
                    </form>
                </div>
            </nav>


            <div class="container py-5">
                <div class="card h-100">
                    <div class="card">
                        <div class="card-body p-2 justify-content-start">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
                                    {% if request.user == specific_account %}
                                        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                                            {% avatar specific_account 100 class="img-fluid" style="border-radius: 100px;" %}
                                            {{ upload_avatar_form.as_p }}
                                            {% csrf_token %}
                                            <input type="submit" value="update pfp"/>
                                        </form>
                                    {% else %}
                                        {% avatar specific_account class="img-fluid" style="width: 100px; border-radius: 100px;" %}
                                    {% endif %}
                                </div>
                                <div class="flex-grow-1 justify-content-end rounded-3">
                                    <h5 class="mb-1">{{ specific_account }}</h5>
                                    <div class="p-4" style="background-color: #ffff;">   <!--TODO: replace mentions with correct HTML links using regex: @[\w.-]+\b-->
                                        <p class="small text-muted mb-1">{{ specific_account.bio }}</p>
                                    </div>
                                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                         style="background-color: #ffff;">
                                        <div class="px-3">
                                            <p class="small text-muted mb-1">Followers</p>
                                            <p class="mb-0">{{ specific_account.followers.count }}</p>
                                        </div>
                                    </div>
                                    {% if specific_account != request.user %}
                                        <div class="d-flex pt-1">
                                            <button type="button" class="btn btn-primary flex-grow-1 w3-purple">Follow</button>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p><a href="{% provider_login_url "discord" process="connect" %}">Connect a discord account</a></p>
                <p><a href="{% provider_login_url "github" process="connect" %}">Connect a github account</a></p>
                <p><a href="{% provider_login_url "google" process="connect" %}">Connect a google account</a></p>
                <p><a href="{% provider_login_url "microsoft" process="connect" %}">Connect a microsoft account</a></p>

                <div class="mx-auto">
                    <div class="row">
                        <div class="col-sm">
                            <h1 style="color:#ba03fc">{% if specific_account == request.user %}Your{% else %}{{ specific_account }}'s{% endif %} Pulses</h1>
                        </div>
                        <div class="col-sm-2 pt-3">
                            <button type="button" class="btn w3-purple" style="float: right;" id="pulse-create">New Pulse</button>
                        </div>
                    </div>
                    {% if not pulse_list %}
                        No Pulses
                    {% else %}
                        {% include pagination_snippet %}
                    {% endif %}
                </div>
            </div>


            <!--CREATE POST MODAL; WILL DISPLAY POST CREATE FORM-->
            <div class="modal fade" id="pulse-create-modal" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Pulse</h5>
                            <button type="button" class="close" id="close-create-new-post" aria-label="Close" onclick="closeModal('pulse-create-modal');">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <form method="post"> {# Move to snippet html #}
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="new-post-content">What do you want to share today?</label>
                                    <input type="text" required class="form-control" id="new-post-content" placeholder="What are you thinking...?">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn text-white" id="new-post-submit" style="background-color: #ba03fc;" value="Post to Pulsifi">
                            </div>
                            <input type="hidden" name="creator_id" value="{{ request.user.id }}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>


            <script>
                function startTimer(duration, display) {
                    let start = Date.now(),
                        diff,
                        minutes,
                        seconds;

                    function timer() {
                        // get the number of seconds that have elapsed since
                        // startTimer() was called
                        diff = duration - (((Date.now() - start) / 1000) | 0);

                        // does the same job as parseInt truncates the float
                        minutes = (diff / 60) | 0;
                        seconds = (diff % 60) | 0;

                        minutes = minutes < 10 ? "0" + minutes : minutes;
                        seconds = seconds < 10 ? "0" + seconds : seconds;

                        display.textContent = minutes + ":" + seconds;

                        if (diff <= 0) {
                            // add one second so that the count down starts at the full duration
                            // example 05:00 not 04:59
                            start = Date.now() + 1000;
                        }
                    };
                    // we don't want to wait a full second before the timer starts
                    timer();
                    setInterval(timer, 1000);
                }

                window.onload = function () {
                    var threeMinutes = 50 * 10,
                        display = document.querySelector('#time');
                    startTimer(threeMinutes, display);
                };
            </script>

        </body>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="{% static 'pulsifi/js/profile.js' %}"></script>
