{% load avatar_tags %}
{% load pulsifi_extras %}
{% for pulse in pulse_list %}
    <div class="container-fluid p-5 text-center">
        <div class="card flex-x5-nowrap">
            <div class="tab-content admin-tab-content pt30">
                <div role="tabpanel" class="tab-pane active show">
                    <ul class="activity-list list-unstyled">
                        <li class="clearfix">
                            <div class="float-left">
                                <div class="flex-shrink-0">
                                    <a href="{{ pulse.creator.get_absolute_url }}">
                                        {% avatar pulse.creator 100 class="img-fluid m-2" style="border-radius: 100px;" %}
                                    </a>
                                </div>
                            </div>
                            <div class="act-content">
                                <div class="font400">
                                    <a href="{{ pulse.creator.get_absolute_url }}" class="font600">{{ pulse.creator }}</a> Posted
                                </div>
                                <span class="text-small">{{ pulse.date_time_created|timesince }} Ago</span>
                                <div>Post will be deleted in <p id="time">??:??</p></div>
                                <p>{{ pulse.message|format_mentions }}</p>
                                <span class="text-small">{{ pulse.liked_by.count }} Likes</span>
                                <form style="display:inline;" method="post">  {# like action in backgroud with ajax to prevent page refresh #}
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-sm btn-success" {% if request.user in pulse.liked_by.all %}disabled{% endif %} value="Like">
                                    <input type="hidden" name="action" value="like">
                                    <input type="hidden" name="likeable_object_id" value="{{ pulse.id }}">
                                    <input type="hidden" name="actionable_model_name" value="pulse">
                                </form>
                                <form style="display:inline;">
                                    <input type="submit" class="btn btn-sm btn-secondary" value="Reply">
                                </form>
                                <form style="display:inline;" method="post">  {# dislike action in backgroud with ajax to prevent page refresh #}
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-sm btn-danger" {% if request.user in pulse.disliked_by.all %}disabled{% endif %} value="Dislike">
                                    <input type="hidden" name="action" value="dislike">
                                    <input type="hidden" name="dislikeable_object_id" value="{{ pulse.id }}">
                                    <input type="hidden" name="actionable_model_name" value="pulse">
                                </form>
                                <span class="text-small">{{ pulse.disliked_by.count }} Dislikes</span>
                                {% for reply in pulse.reply_set.all %}
                                    {% include "pulsifi/reply_iterate_snippet.html" %}
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
