<!DOCTYPE html>   <!--TODO: load from base.html-->
<html lang="en-GB">

    {% load static %}

    <head>  <!--TODO: favicons-->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pulsifi</title>
        <link href="{% static 'pulsifi/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>

    <main>   <!--TODO: fix indentation-->
        <body>
            <nav class="navbar rounded-bottom navbar-light navbar-expand-lg pl-5 pr-5" style="background-color: #ba03fc;">   <!--TODO: load from navbar.html (only show links if logged in)-->
                <a class="navbar-brand align-middle" href="{% url 'default' %}"><img height=30px src="{% static 'pulsifi/brand/Logo-White_Transparent.png' %}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link px-3 text text-white" href="">Feed</a>
                <a class="nav-link px-3 text-white" href="{% url 'pulsifi:self_account' %}">Profile</a>
                </div>
                </div>
                <div class="right">
                    <form method="post" action="{% url 'account_logout' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                      <button type="submit" class="btn w3-purple" style="float: right;" >Sign Out</button>
                    </form>
                </div>
            </nav>
            <!--TODO: add search bar for accounts-->
            <div class="mx-auto" style="width: 900px;">

            </div>


            <div class="container py-5">
            <div class="mx-auto">
            <div class="container-fluid p-5">
            <div class="row">
            <div class="col-sm">
            <h1 style="color:#ba03fc">Your Feed</h1>
            </div>
            <div class="col-sm-2 pt-3">
            <button type="button" class="btn w3-purple" style="float: right;" id="pulse-create">New Pulse</button>
            </div>
            </div>
            </div>
            </div>

            <div class="container-fluid p-5 text-center">
            <div class="card flex-x5-nowrap">
            <div class="tab-content admin-tab-content pt30">
            <div role="tabpanel" class="tab-pane active show" id="t1">
            <ul class="activity-list list-unstyled">
                <li class="clearfix">
                    <div class="float-left">
                    <div class="flex-shrink-0">
                    <img src="{% static 'pulsifi/brand/Example_Profile_Pic.jpg' %}" alt="Generic placeholder image" class="img-fluid" style="width: 100px; border-radius: 100px;">
                    <!--TODO: add avatar-->
                    </div>
                    </div>
                    <div class="act-content">
                    <div class="font400">

                    <a href="http://127.0.0.1:8000/profile/" class="font600">Pad Griffin</a> Posted   <!--TODO: use get_absolute_url()-->
                    </div>
                    <span class="text-small">15 Min Ago</span>
                    <div>Post will be deleted in <p id="time">00:00</p></div>
                    <p>
                        I slept terribly last night- turns out lecture theatre chairs aren't the best beds, eh.
                    </p>
                    <span class="text-small">25 Likes</span>
                    <a href="#" class="btn btn-sm btn-success">Like</a>
                    <a href="#" class="btn btn-sm btn-danger">Dislike</a>
                    <a href="#" class="btn btn-sm btn-secondary">Reply</a>
                    </div>
                </li>
            </ul>
            </div>
            </div>
            </div>
            </div>

            <div class="container-fluid p-5 text-center">
            <div class="card flex-x5-nowrap">
            <div class="tab-content admin-tab-content pt30">
            <div role="tabpanel" class="tab-pane active show" id="t1">
            <ul class="activity-list list-unstyled">
                <li class="clearfix">
                    <div class="float-left">
                    <div class="flex-shrink-0">
                    <img src="{% static 'pulsifi/brand/Profile_Icon.png' %}" alt="Generic placeholder image"
                         class="img-fluid" style="width: 100px; border-radius: 100px;">   <!--TODO: add avatar-->
                    </div>
                    </div>
                    <div class="act-content">
                    <div class="font400">

                    <a href="http://127.0.0.1:8000/profile/2" class="font600">Truth Teller</a> Posted   <!--TODO: use get_absolute_url()-->
                    </div>
                    <span class="text-small">15 Min Ago</span>
                    <div>Post will be deleted in <p id="time1">00:00</p>
                    </div>
                    <p>
                        Pulsifi is the best social media I have ever used, don't you all agree
                    </p>
                    <span class="text-small">5 Likes</span>
                    <a href="#" class="btn btn-sm btn-success">Like</a>
                    <a href="#" class="btn btn-sm btn-danger">Dislike</a>
                    <a href="#" class="btn btn-sm btn-secondary">Reply</a>
                    </div>
                </li>
            </ul>
            </div>
            </div>
            </div>
            </div>

            <div class="container-fluid p-5 text-center">
            <div class="card flex-x5-nowrap">
            <div class="tab-content admin-tab-content pt30">
            <div role="tabpanel" class="tab-pane active show" id="t1">
            <ul class="activity-list list-unstyled">
                <li class="clearfix">
                    <div class="float-left">
                    <div class="flex-shrink-0">
                    <img src="{% static 'pulsifi\brand\cropped-Desk-Logo.png' %}" alt="Generic placeholder image"
                         class="img-fluid" style="width: 100px; border-radius: 100px;">   <!--TODO: add avatar-->
                    </div>
                    </div>
                    <div class="act-content">
                    <div class="font400">

                    <a href="http://127.0.0.1:8000/profile/1" class="font600">Craig 'n' Dave</a> Posted   <!--TODO: use get_absolute_url()-->
                    </div>
                    <span class="text-small">11 Min Ago</span>
                    <p class="text-danger">Post will be deleted in 00:00</p></div>
                    <p>
                        [Whoops! This pulse ran out of time and has been removed.] </p>
                    <span class="text-small">0 Likes</span>
                    <a href="#" class="btn btn-sm btn-success">Like</a>
                    <a href="#" class="btn btn-sm btn-danger">Dislike</a>
                    <a href="#" class="btn btn-sm btn-secondary">Reply</a>

            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>


            </div>


            <!--CREATE POST MODAL; WILL DISPLAY POST CREATE FORM-->
            <div class="modal fade" id="pulse-create-modal" tabindex="-1">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">New Pulse</h5>
            <button type="button" class="close" id="close-create-new-pulse" aria-label="Close"
                    onclick="closeModal('pulse-create-modal');">
                <span aria-hidden="true">x</span>
            </button>
            </div>
            <div class="modal-body">
            <form>
                <div class="form-group">
                <label>What do you want to share today?</label>
                <input type="textarea" class="form-control" id="new-pulse-content"
                       placeholder="What are you thinking...?">
                </div>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn text-white" id="new-pulse-submit"
                    style="background-color: #ba03fc;">Post to Pulsifi
            </button>
            </div>
            </div>
            </div>
            </div>
            <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

            <script>
                function startTimer(duration, display) {
                    var start = Date.now(),
                        diff,
                        minutes,
                        seconds;

                    function timer() {
                        // get the number of seconds that have elapsed since
                        // startTimer() was called
                        diff = duration - (((Date.now() - start) / 1000) | 0);

                        // does the same job as parseInt truncates the float
                        minutes = (diff / 60) | 0;
                        seconds = (diff % 60) | 0;

                        minutes = minutes < 10 ? "0" + minutes : minutes;
                        seconds = seconds < 10 ? "0" + seconds : seconds;

                        display.textContent = minutes + ":" + seconds;

                        if (diff <= 0) {
                            // add one second so that the count down starts at the full duration
                            // example 05:00 not 04:59
                            start = Date.now() + 1000;
                        }
                    }
                    // we don't want to wait a full second before the timer starts
                    timer();
                    setInterval(timer, 1000);
                }


                window.onload = function () {
                    var tenMinutes = 60 * 10,
                        display = document.querySelector('#time');
                    startTimer(tenMinutes, display);
                    var twoMinutes = 33 * 8,
                        display = document.querySelector('#time1');
                    startTimer(twoMinutes, display);
                    var aaaMinutes = 22 * 10,
                        display = document.querySelector('#time2')
                    startTimer(aaaMinutes, display);

                };
            </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                    crossorigin="anonymous"></script>
            <script src="{% static 'pulsifi/js/feed.js' %}"></script>
        </body>
            </main>