<!DOCTYPE html>   <!--TODO: load from base.html-->
<html lang="en-GB">
    {% load static %}

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign Up - Pulsifi</title>
        <link href="{% static 'pulsifi/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <nav class="navbar rounded-bottom navbar-light navbar-expand-lg pl-5 pr-5" style ="background-color: #ba03fc;">   <!--TODO: load from navbar.html (only show links if logged in)-->
            <a class="navbar-brand align-middle" href="{% url 'default' %}"><img height = 30px src = "{% static 'pulsifi/brand/Logo-White_Transparent.png' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link"><button type="button" class="btn btn-light" id="sign-up">Sign Up</button></a>
                    <a class="nav-link"><button type="button" class="btn btn-light" id="sign-in">Sign In</button></a>
                </div>
            </div>
        </nav>
        <br>   <!--TODO: fix padding-->
        <form method="post">  <!--TODO: generate form from default UserCreationForm-->
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                <input type = "text" name = "name" class = "form-control" maxlength = "30" id = "sign-up-name" placeholder="Enter your full name" autofocus required>
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input type = "email" name="email" required class = "form-control" id = "sign-up-email" placeholder="Enter your email address">
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type = "text" name="username" maxlength= "150" class = "form-control" id = "sign-up-username" placeholder="Choose a username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type = "password" name="password1" class = "form-control" id = "sign-up-password" placeholder="Choose a password" required>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type = "password" name="password2" class = "form-control" id = "sign-up-password-conf" placeholder="Re-enter your password to check you can spell" required>
            </div>
            {% if "next" in request.GET %}
                <input type="hidden" name="next" value="{{ request.GET.next|urlencode }}">
            {% endif %}
            <button type="submit" class="btn text-white" id="sign-up-submit" style = "background-color: #ba03fc;">Sign Up</button>
        </form>   <!--TODO: show errors in modal-->
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>